@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



 /* .navbar-text {
  font-family: 'Montserrat';
}  */


.text {
  text-Shadow: 2px 2px 4px rgba(0, 0, 0, 0.2)
}

/* .text {
  background: linear-gradient(
    to right, #14274E, #F1F6F9 35%, #14274E);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s ease-in-out infinite; 
} */

/* @keyframes gradient {
  0% {background-position: 0% 75%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 70%;}
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}






